.header {
    background-color: rgb(2, 2, 51);
    padding: 6px;
    border-radius: 6px;
    text-align: center;
    color: whitesmoke;
}
@media only screen and (max-width: 960px) {
    .header {
        padding: 4px; 
    }
}